version: '3.9'
services:
  py3:
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    entrypoint:
      jupyter-lab
      --allow-root
      --ip=0.0.0.0
      --port=8080
      --no-browser
      --NotebookApp.token=''
      --notebook-dir=/workspace
    ports:
      - "127.0.0.1:28080:8080"
    volumes:
      - ./:/workspace